@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 220, 221, 222;
  --background-start-rgb: 32, 34, 37;
  --background-end-rgb: 47, 49, 54;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  );
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--background-start-rgb);
}

::-webkit-scrollbar-thumb {
  background: #5865f2;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4752c4;
} 